@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(226 232 240 / var(--tw-bg-opacity)); /* Cor da barra de rolagem */
  border-radius: 2px;
}



/* Estilizando a barra de rolagem no Firefox */
/* Estas propriedades podem não ser suportadas em versões mais recentes do Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dcdcdc;
}